name: CI/CD
on: [push, pull_request, workflow_dispatch]

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@​v2

      - uses: actions/setup-node@​v1
        with:
          node-version: '15.x'

      - uses: actions/cache@​v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-npm-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-npm-

      - run: npm ci
      - run: npm run build

  deploy:
    name: Deploy
    needs: check
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'

    steps:
      - uses: actions/checkout@​v2

      - uses: actions/setup-node@​v1
        with:
          node-version: '15.x'

      - uses: actions/cache@​v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-npm-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-npm-

      - run: npm ci
      - run: npm run build

      - uses: peaceiris/actions-gh-pages@​v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: web
          publish_dir: dist
          force_orphan: true